{% extends 'base.html.twig' %}

{% block title %}ActiviteEntreprise{% endblock %}

{% block body %}
    <h1>ActiviteEntreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite_entreprise.id }}</td>
            </tr>
            <tr>
                <th>Activite</th>
                <td>{{ activite_entreprise.activite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activite_entreprise_index') }}">back to list</a>

    <a href="{{ path('activite_entreprise_edit', {'id': activite_entreprise.id}) }}">edit</a>

    {{ include('activite_entreprise/_delete_form.html.twig') }}
{% endblock %}
