{% extends 'base.html.twig' %}

{% block title %}Stagiaire{% endblock %}

{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ liste.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ liste.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entreprise_index') }}">Retour</a>

    {# {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">Modifier</a>
    {% endif %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ include('entreprise/_delete_form.html.twig') }}
    {% endif %} #}
{% endblock %}
