{% extends 'base.html.twig' %}

{% block title %}{{'Welcome!'|trans}}{% endblock %}

{% block body %}
    <div class="example-wrapper">

        <div class="corps">
            <div class="main-content">
                <div class="default-jumbotron">
                    <p>Vous souhaitez obtenir une convention ?</p>
                    <p>Appuyer sur ce bouton ci-dessous</p>
                    <hr class="my-8">

                    <a class="btn btn-primary float-md-right" href="{{ path('app_login') }}" role="button">Télécharger <i class="fas fa-arrow-circle-right"></i></a>
                </div>

                {# <div class="default-jumbotron">
                    <h3>Interamnia</h3>
                    <hr class="my-8">
                    <h3>{{'Features'|trans}}</h3>
                    <ul>
                        <li>
                            {{''|trans}}
                        </li>
                        <li>
                            {{''|trans}}
                        </li>
                        <li>
                            ...
                        </li>
                    </ul>

                    <a class="btn btn-primary float-md-right" href="{{ path('app_login') }}" role="button">{{ 'Let\'s start now'|trans}} <i class="fas fa-arrow-circle-right"></i></a>
                </div> #}
            </div>

            <div class="presentation">
                <h4>Bienvenue !</h4>
                <p>Le but de ce site est de faciliter la recherche de votre stage. Il est destiné aux élèves de BTS. Les onglets ci-dessus vous permettrons de rechercher une entreprise ou bien de remplir un compte-rendu sur votre stage et expliqué comment celui-ci s'est déroulé.</p>
            </div>
        </div>

    </div>

    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>A propos</h3>
                    <p>

Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.

Constituendi autem sunt qui sint in amicitia fines et quasi termini diligendi. De quibus tres video sententias ferri, quarum nullam probo, unam, ut eodem modo erga amicum adfecti simus, quo erga nosmet ipsos, alteram, ut nostra in amicos benevolentia illorum erga nos benevolentiae pariter aequaliterque respondeat, tertiam, ut, quanti quisque se ipse facit, tanti fiat ab amicis.

Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
</p>
                </div>
                <div class="col-sm-4">
                    <h3>Informations</h3>
                    <p>

Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.

Constituendi autem sunt qui sint in amicitia fines et quasi termini diligendi. De quibus tres video sententias ferri, quarum nullam probo, unam, ut eodem modo erga amicum adfecti simus, quo erga nosmet ipsos, alteram, ut nostra in amicos benevolentia illorum erga nos benevolentiae pariter aequaliterque respondeat, tertiam, ut, quanti quisque se ipse facit, tanti fiat ab amicis.

Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
</p>
                </div>
                <div class="col-sm-4">
                    <h3>Contacts</h3>
                    <p>

Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.

Constituendi autem sunt qui sint in amicitia fines et quasi termini diligendi. De quibus tres video sententias ferri, quarum nullam probo, unam, ut eodem modo erga amicum adfecti simus, quo erga nosmet ipsos, alteram, ut nostra in amicos benevolentia illorum erga nos benevolentiae pariter aequaliterque respondeat, tertiam, ut, quanti quisque se ipse facit, tanti fiat ab amicis.

Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
