{% extends 'base.html.twig' %}

{% block title %}Prof index{% endblock %}

{% block body %}
    <h1>Prof index</h1>
    <a href="{{ path('prof_new') }}" button class="btn btn-primary" orderBy="u.nom" >Créer</button></a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>En_activite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prof in profs %}
            <tr>
                <td>{{ prof.id }}</td>
                <td>{{ prof.nom }}</td>
                <td>{{ prof.prenom }}</td>
                <td>{{ prof.enActivite }}</td>
                <td>
                    <td>
                        <a title="Afficher" href="{{ path('prof_show', {'id': prof.id}) }}"<button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> </button></a>        
                    </td>                    
                    <td>                    
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a title="Modifier" href="{{ path('prof_edit', {'id': prof.id}) }}"<button class="btn btn-primary"><i class="fa fa-pencil"aria-hidden="true"></i></button></a>                                                 
                        {% endif %}
                    </td>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
