{% extends 'base.html.twig' %}

{% block title %}Prof{% endblock %}

{% block body %}
    <h1>Prof</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prof.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ prof.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ prof.prenom }}</td>
            </tr>
            <tr>
                <th>En_activite</th>
                <td>{{ prof.enActivite }}</td>
            </tr>
                <td>
                <a title="Retour" href="{{ path('prof_index') }}"<button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                </td>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}        
                        <a title="Modifier" href="{{ path('prof_edit', {'id': prof.id}) }}"<button class="btn btn-primary"><i class="fa fa-pencil"aria-hidden="true"></i></button></a>
                    {% endif %}
                </td>
            
        </tbody>
    </table>


    {{ include('prof/_delete_form.html.twig') }}
{% endblock %}
