{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ stage.user }}</td>
            </tr>
            <tr>
                <th>BTS</th>
                <td>{{ stage.bts }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ stage.dateDebut|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ stage.dateFin|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ stage.theme }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ stage.entreprise }}</td>
            </tr>
            <tr>
                <th>Période</th>
                <td>{{ stage.periode }}</td>
            </tr>
            <tr>
                <th>Nom Professeurs</th>
                <td>{{ stage.prof }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ stage.contact }}</td>
            </tr>
            
                                    
                
                
            {# <tr>
                <th>Commentaire</th>
                <td>{{ stage.commentaire }}</td>
            </tr> #}
         <td>
        <a title="Retour" href="{{ path('entreprise_index') }}"<button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
    </td>

    <td>
        <a title="Modifier" href="{{ path('stage_edit', {'id': stage.id}) }}"<button class="btn btn-primary"><i class="fa fa-pencil"aria-hidden="true"></i></button></a>
    </td>
        </tbody>
    </table>

   


    {{ include('stage/_delete_form.html.twig') }}
{% endblock %}
