{% extends 'base.html.twig' %}

{% block title %}Periode{% endblock %}

{% block body %}
    <h1>Période</h1>

    <table class="table">
        <tbody>
            <tr>
            
                <th>Nom_période</th>
                <td>{{ periode.nomPeriode }}</td>
            </tr>
            <tr>

                <th>Date de début</th>
                <td>{{ periode.dateDebut ? periode.dateDebut|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ periode.dateFin ? periode.dateFin|date('d-m-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('periode_index') }}">Retour</a>

    <a href="{{ path('periode_edit', {'id': periode.id}) }}">Modifier</a>

    {{ include('periode/_delete_form.html.twig') }}
{% endblock %}
