{% extends 'base.html.twig' %}

{% block title %}BTS index{% endblock %}

{% block body %}


    <img class="Tablelogo" src="../../../LogoProvidence.png">
    <h1>BTS</h1>
    <a href="{{ path('b_t_s_new') }}" button class="btn btn-primary" orderBy="u.nom" >Créer</button></a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Spécialisation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for b_t in b_t_ss %}
            <tr>
                <td>{{ b_t.nom }}</td>
                <td>{{ b_t.specialisation }}</td>
                <td>                
                    <td>
                        <a title="Afficher" href="{{ path('b_t_s_show', {'id': b_t.id}) }}"<button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> </button></a>        
                    </td>                    
                    <td>                    
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a title="Modifier" href="{{ path('b_t_s_edit', {'id': b_t.id}) }}"<button class="btn btn-primary"><i class="fa fa-pencil"aria-hidden="true"></i></button></a>                                                 
                        {% endif %}
                    </td>                                                        
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune données trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
