{% extends 'base.html.twig' %}

{% block title %}BTS index{% endblock %}

{% block body %}
    <h1>BTS index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Spécialisation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for b_t in b_t_ss %}
            <tr>
                <td>{{ b_t.id }}</td>
                <td>{{ b_t.nom }}</td>
                <td>{{ b_t.specialisation }}</td>
                <td>
                    <a href="{{ path('b_t_s_show', {'id': b_t.id}) }}">show</a>
                    <a href="{{ path('b_t_s_edit', {'id': b_t.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('b_t_s_new') }}">Create new</a>
{% endblock %}
