{% extends 'base.html.twig' %}

{% block title %}BTS{% endblock %}

{% block body %}
    <h1>BTS</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ b_t.nom }}</td>
            </tr>
            <tr>
                <th>Spécialisation</th>
                <td>{{ b_t.specialisation }}</td>
            </tr>
            
            <td>
                <a title="Retour" href="{{ path('b_t_s_index') }}"<button class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </td>
            <td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}        
                    <a title="Modifier" href="{{ path('b_t_s_edit', {'id': b_t.id}) }}"<button class="btn btn-primary"><i class="fa fa-pencil"aria-hidden="true"></i></button></a>
                {% endif %}
            </td>
        </tbody>
    </table>

    {{ include('bts/_delete_form.html.twig') }}
{% endblock %}
