{% extends 'base.html.twig' %}

{% block title %}CompteRendu index{% endblock %}

{% block body %}

    {{ include('compte_rendu/search.html.twig') }}

    <h1>Compte-rendu du stage</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Élève</th>
                <th>Entreprise</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Thème du stage</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stages in stages %}
            <tr>
                <td>{{ stages.id }}</td>
                <td><a href="{{ path('compte_rendu_eleve') }}">{{ stages.eleve }}</a></td>
                <td><a href="{{ path('compte_rendu_entreprise') }}">{{ stages.entreprise }}</a></td>                
                <td>{{ stages.dateDebut }}</td>
                <td>{{ stages.dateFin }}</td>
                <td>{{ stages.theme }}</td>
                <td>{{ stages.commentaire }}</td>
                <td>
                    <a href="{{ path('compte_rendu_show', {'id': stages.id}) }}">Afficher</a>
                    <a href="{{ path('compte_rendu_edit', {'id': stages.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('compte_rendu_new') }}">Créer</a>
{% endblock %}
