{% extends 'base.html.twig' %}

{% block title %}CompteRendu{% endblock %}

{% block body %}
    <h1>Compte-rendu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compte_rendu.id }}</td>
            </tr>
            <tr>
                <th>Classe_eleve</th>
                <td>{{ compte_rendu.classeEleve }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ compte_rendu.dateDebut }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ compte_rendu.dateFin }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ compte_rendu.theme }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ compte_rendu.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('compte_rendu_index') }}">Retour</a>

    <a href="{{ path('compte_rendu_edit', {'id': compte_rendu.id}) }}">Modifier</a>

    {{ include('compte_rendu/_delete_form.html.twig') }}
{% endblock %}
